<!doctype html>
<html lang="en">
<head>
    <title>CodeByExampleIO</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

  <nav class="nav divbg">
    <h1 class="nav-logo"><img src="images/xio.png" class="imgcircle"></h1>
    <a class="nav-item" href="#">Javascript</a>
    <a class="nav-item" href="#">CSS</a>
    <a class="nav-item" href="#">HTML</a>

    <button class="outline nav-item">Login</button>
    <button class="outline nav-item">Sign Up</button>
  </nav>



    <main>
        <h1>CodeByExample.io</h1>
        <p>CodeByExample is a reddit like application that provides the opportunity for coders to post their code examples for others to learn from.</p>
    </main>




<div class="row borderwrap">
    <div class="">
    <a href="#"><img src="images/upvote.png" class="imgarrows"><br></a>
      <a href="#"><img src="images/downvote.png" class="imgarrows"></a>
    </div>
    <div class="aligntxt">
      <h1> .sort() & Math.random() </h1>
      <h6> TAKE THIS ARRAY AND REVERSE THE LETTERS!</h6>
    </div>

</div>
<script src="//repl.it/embed/NcL0/4.js"></script>


    <input type="text" placeholder="Username"/>
  <input type="email" placeholder="Email"/>
  <textarea placeholder="Code"></textarea>
<button class='outline'>Submit Code</button>


</body>
</html>
