.divbg {
  background-color: #304349;
  color: #BBF545;
  font-size: 15px;
  text-decoration: none;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.buttonpadding {
  padding-right: 15px;
  padding-left: 15px;
}

a:link {
    color: #BBF545;
    text-decoration:  none;
}
a:visited {
  color: #BBF545;
  text-decoration:  none;
}

/* mouse over link */
a:hover {
  color: #BBF545;
  text-decoration:  none;
}

/* selected link */
a:active {
  color: #BBF545;
  text-decoration:  none;
}


/*.parentcontainer {
  display: flex;
}*/

.imgcircle {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.imgarrows {
  padding-top: 15px;
  padding-left: 10px;
  height: 50px;
  width: 50px;
}

.borderwrap {
border:3px solid black;
}


.aligntxt {
align: left;
}
